
*{
    --darkColor: #3A3836; 
    --grayColor: #CACACA;
    --white: #fff;
    --blueColor: #2966FF;
    --blueColor7: #2966ff11;
    font-family: "Montserrat", sans-serif;
}

button{
    cursor: pointer;
    background: none;
    border: none;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }